.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.modal-content {
  min-height: 50%;
  margin-bottom: -50px;
  position: relative;
  bottom: 1rem;
  & h2 {
    font-weight: 400;
  }
}

.button-close {
  position: relative;
  float: right;
  height: 1.5rem;
  border-radius: 50vh;
  width: 1.5rem;
  background-color: rgba(166, 166, 166, 0.19);
  cursor: pointer;
  bottom: 0.4rem;
  left: 0.3rem;
    & img {
      position: relative;
      left: 6px;
      top: 6px;
    }
  }

.modal-button {
  // margin: 2.6rem 0;
  margin: 0;
  height: 50px;
  text-align: center;
  position: relative;
  // bottom: -6.8rem;
}

// iphone 5/se
@media (min-width: 320px) and (min-height: 568px) {
  .modal-button {
    bottom: -3rem;
    padding-bottom: 0.8rem;
  }
}

  // galaxy s5
@media (min-width: 360px) and (min-height: 640px) {
  .modal-button {
    bottom: -1.5rem;
    padding-bottom: 0.8rem;
  }
  }

  // iphone 6,7,8
@media (min-width: 375px) and (min-height: 667px) {
  .modal-button {
    bottom: -3rem;  
  }
}

// pixel 2 XL
@media(min-width: 411px) and (min-height: 731px) {
  .modal-button{
    bottom: -6rem;
  }
}

// pixel 2 XL
@media(min-width: 411px) and (min-height: 823px) {
  .modal-button{
    bottom: -9.5rem;
  }
}

// iphone 6,7,8 plus
@media(min-width: 414px) and (min-height: 736px){
  .modal-button{
    bottom: -6.5rem;
  }
}

// iphone X
@media(min-width: 375px) and (min-height: 812px){
  .modal-button{
    bottom: -8rem;
  }
}

.ReactModal__Content {
  .paragraph {
    line-height: 18px;
  }
}
