.item {
width: 150px;
height: 52px;

background: #EFEFEF;
border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      /* or 112% */
      padding: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2px;

      color: #202228;

    }

}
.item-basket {
  height: 45px;

  border: 1px solid #909090;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: #909090;
  margin: 10px 0px;

  &.complete {
    color: #93278F;
    border: 1px solid #93278F;
  }
}
