.containerHeader {
  font-family: Rubik;
  font-weight: 400;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 22px;
  }
}

.containerUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Rubik;
    height: 38vh;
    h2{
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      margin: 0;
    }
    p{
      font-family: Rubik;
      color:#909090;
      font-size: 16px;
      line-height: 18px;
    }
}

.containerSetup {
    height:35vh;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 3rem;
    
    h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 24px;
    margin-bottom: 20px;
    }
}

