.profileHeader {
  padding: 0.8rem 1.2rem 0;
}

.containerUser {
  height: 36vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Rubik;

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0.5rem;
  }

  p {
    font-family: Rubik;
    color: #909090;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 0.5rem ;
  }
}

.containerSetup {
  height: 46vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;

  h3 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }
}
