.containerHeather {
    width: 100%;
    height: auto;
    letter-spacing: 0.2px;
    h2{
      font-family: Rubik;
      margin-left: 20px;
      font-weight: 500;
      font-size: 22px;
      line-height: 22px;
    }

}

.containerUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Rubik;
    height: 38vh;
    h3{
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }
    p{
      font-family: Rubik;
      color:#909090;
      font-size: 16px;
      line-height: 18px;
    }
}

.containerSettings {
    // width: 360px;
    height:45vh;
    // top: 342px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 span{
     margin-left: 50px;
 }
}

.containerSetup {
    height:200px;
}

