.container-setup{
    display: flex;
    align-items: center;
    font-family: Rubik;
    height: 38px;
    line-height: 18px;
    margin-left: 24px;

    a {
      text-decoration-line: underline;
      color: #93278F;
      font-size: 14px;
    }
}

 .container-icon{
    margin-right: 20px;

 }
