.containerDonation {
  box-sizing: border-box;
  overflow: hidden;
  &__list {
    padding: 1rem 1rem 1.2rem 1rem;

    &--leader {
      height: calc(100vh - 12.8rem);
    }
    &--admin {
      height: calc(100vh - 12.8rem - 2.4rem);
    }
  }

  &__button {
    position: relative;
    top: 0.4rem;
    padding: 0 1.4rem;
    box-sizing: border-box;
    width: 100%;
  }
}
