.exportForm-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
}
.exportForm-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exportForm-content-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.exportForm-content-footer {
  margin-bottom: 16px;
  height: 20px;
  width: 50px;
  width: -webkit-fill-available;
}

