
.customSelect {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 52px;
  border-radius: 4px;
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  border: 0.7px solid transparent;
  text-align: start;
  justify-content: flex-start;
}