.containerDonationDetails {
  margin: 0;
  padding: 1.06rem 1rem;
  &__evidenceTitle {
    font-weight: 400;
  }
  &__delivered {
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 14px;
      color: #909090;
    }
    &__value {
      font-size: 14px;
      margin-top: 0.5rem;
      font-weight: 500;
    }
    &__comment{
      margin-top: 10px;
      background-color: #F2F2F2;
      border-radius: 4px;
      padding: 0.7rem;
      min-height: 11rem;
      font-size: 14px;
    }
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
    &--mt {
      margin-top: 1.8rem;
    }
  }
}
