.chargeItem {
  margin: 0.5rem;
  padding: 0.56rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 14px;
  font-family: Rubik;
  &__container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__title {
      color: #202228;
      margin: 0 1rem 0.4rem 0;
    }
    &__chargeType {
      margin: 0 0.4rem 0.4rem;
      color: #909090;
      font-size: 12px;
      width: auto;
    }
  }

  &__container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__status {
      color: #909090;
      margin: 0 0.4rem 0 0;
      width: 20rem;
    }
    &__date {
      font-size: 12px;
      
      color: #909090;
    }
  }
}
