.component-deliveredLeader-imageButton {
  padding-top: 0.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.component-deliveredLeader-footer{
  display: flex;
  & h5 {
    margin: 0.2rem 0;
  }

  div {
    width: 50%;
  }
}
