.containerMultiSelect {
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 0.7px solid transparent;
  font-family: Rubik;
  width: 100%;
  box-sizing: border-box;

  input {
    background-color: transparent;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Rubik;
    font-size: 14px;
    padding: 1rem 1.2rem;
    border: 0.7px solid transparent;
    border-radius: 4px;
    &:focus {
      outline: none;
      border-color: #202228;
    }
  }

  .listItems {
    padding: 0.5rem;
    margin: 0 0 0.2rem 0;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
    .item {
      font-size: 13px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #e4e4e4;
      padding: 0.5rem;
      margin-bottom: 0.4rem;
      height: auto;
      display: flex;
      justify-content: space-between;
      color: black;
      &:last-child {
        margin: 0;
      }
    }
  }
}
