.container-steps {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
ul {
  list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
li {
  width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F2F2F2;

    &::after {
      content: '';
      height: 5px;
      width: 30%;
      max-width: 100%;
      margin-left: 13px;
      margin-top: 5px;
      position: absolute;
      background-color: #F2F2F2;
    }

    &:last-child::after {
      content: '';
      display: none;
    }

    &.active {
      background-color: #93278f;
      border: 1px solid #93278f;
      box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #93278f;
    }
    &.actived {
      background-color: #93278F;
      &::after {
        background-color: #93278F;
      }
    }
  }
}
.actived {
  background-color: #93278F;
  &::after{
    background-color: #93278F;
  }
}

.active {
  background-color: #93278F;
  border: 1px solid #93278F;
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #93278F ;
  &::after {
    margin-top: 4px;
  }
}
