"name","city","state"
"As Valquirias","São José do Rio Preto","SP"
"Manda Ver","Maceió","AL"
"Nature Life","Guarujá","SP"
"O Grito","Belo Horizonte","MG"
"Protagonizar","Vitória","ES"
"Resg. Vidas","Zona Norte São Paulo","SP"
"Inst. Nave Capão","Zona Sul São Paulo","SP"
"Inst. Vozes da Periferia","Zona Leste São Paulo","SP"
"Gerando falcões","Poá","SP"
