"site","city","state","name","cpf","rg","phone","email","birthdate"
"As Valquirias","São José do Rio Preto","SP","AMANDA PRISCILA DE OLIVEIRA DA SILVA",38255078827,"44.837.679-9",17982260179,"amandaoliveiraes@gmail.com",1989-5-5
"Manda Ver","Maceió","AL","CARLOS JORGE DA SILVA SANTOS",6333233498,"20010.011.831-54",82988264377,"carlosjorgecoordenacao@mandaver.org",1986-6-12
"Nature Life","Guarujá","SP","IVAN JUNQUEIRA CRESPO",27660992805,"29.231.596-X",13981528205,"ivanaturelife@gmail.com",1977-12-29
"O Grito","Belo Horizonte","MG","LEANDRO ALVES MARTINS",1447066600,"MG-11.606.495",988963096,"projetosmartins@outlook.com",1983-9-30
"Protagonizar","Vitória","ES","GILMAR LIMA DOS SANTO",9208962784,"0.18.980-98",27997907663,"gillmarsantoslima@hotmail.com",1982-6-26
"Resg. Vidas","Zona Norte São Paulo","SP","Aron Fernando Ramos",31126208876,"298406688",11976970055,"aron.ramos@institutoresgatandovidas.org.br",1981-11-21
"Inst. Nave Capão","Zona Sul São Paulo","SP","Bruno Horácio Pereira dos Santos",38968316821,"46.627.261-3",11971519444,"navecapao@gmail.com",1989-6-3
"Inst. Vozes da Periferia","Zona Leste São Paulo","SP","Cesar Gouveia da Silva",32958195805,"47.218.940",11954302739,"cesar@vozesdasperiferias.com",1991-1-1
"Gerando falcões","Poá","SP","BRUNO LUIZ DO NASCIMENTO DESIDERIO",35973851842,34300206,11987069102,"bruno.poa@gerandofalcoes.com",1988-4-22
