"password","site","city","state","name","cpf","rg","phone","email","birthdate","deliveryLocation","deliveryCep","slums"
75008940,"As Valquirias","São José do Rio Preto ","SP","AMANDA PRISCILA DE OLIVEIRA DA SILVA","38255078827","44.837.679-9","17 98226-0179","amandaoliveiraes@gmail.com","1989-5-5","RUA FEREZ GATTAZ, 599","15045383","Vila Itália, Jd. Paraíso, Jd Itapema, Maria Lúcia"
90350287,"Manda Ver","Maceió ","AL","CARLOS JORGE DA SILVA SANTOS","06333233498","20010.011.831-54","82 98826-4377","carlosjorgecoordenacao@mandaver.org","1986-6-12","Avenida Monte Castelo, 23, Vergel do Lago - Maceió/AL","57015130","Sururu de Capote, Mundaú, Peixe, Quadra 12, Torre"
99687061,"Nature Life","Guarujá ","SP","IVAN JUNQUEIRA CRESPO","27660992805","29.231.596-X","13 98152-8205","ivanaturelife@gmail.com","1977-12-29","Av. Da Praia, Guarujá- SP",,"Fundão, Mangue e Vila Nova"
76767633,"O Grito","Belo Horizonte","MG","LEANDRO ALVES MARTINS","01447066600","MG-11.606.495"," 31 98896-3096","projetosmartins@outlook.com","1983-9-30","Rua Serro, 52  Jardim Alvorada/Ribeirão das Neves/MG","33938020","Soares, Jd Alvorada, Luana, Verônica, Bom Jesus, Rosimeire, Dandara"
29008381,"Protagonizar","Vitória","ES","GILMAR LIMA DOS SANTO","09208962784","1.898.098-ES","27 99790-7663","Gilmar Lima <gillmarsantoslima@hotmail.com>","1982-6-26","Rua Novo Horizonte, N° 62 – Bairro Resistência, Vitória/ES ","29032620","Resistência, Nova Palestina, Conquista, Redenção, Santo André, Ilha das Caieiras, Santos Reis, Comduza, Joana Darc, Conquista, Itararé e Piranema."
77129510,"Resg. Vidas","Zona Norte São Paulo","SP","Aron Fernando Ramos","31126208876","29.840.668-8","11 97697-0055","aron.ramos@institutoresgatandovidas.org.br","1981-11-21","Rua Augusto Gil 465","02670030","Vila Dionísia, Mazzalli, Sucupira,Flamengo"
61050594,"Inst. Nave Capão","Zona Sul São Paulo","SP","Bruno Horácio Pereira dos Santos","38968316821","46.627.261-3","11 97151-9444","navecapao@gmail.com","1989-6-3","R: Antonio Costa Ernesto","05861000","Carandiru, Jerusalém, Dança Cigana"
33805621,"Inst. Vozes da Periferia","Zona Leste São Paulo","SP","Cesar Gouveia da Silva ","32958195805","47.218.940 ssp/sp","11 95430-2739","cesar@vozesdasperiferias.com","1991-1-1","Rua Paraibuna, 568, Quinta das Paineiras","03151120","Favelão da Vila Prudente, Morro do Péu, Haiti e Ilha das cobras"
71128409,"Gerando falcões","Poá, Ferraz de Vasconselos","SP","BRUNO LUIZ DO NASCIMENTO DESIDERIO ","35973851842","34300206 ssp/sp","11 98706-9102","bruno.poa@gerandofalcoes.com","1988-4-22","Rua Niterói, 96 - Vila Santa Helena, Poá - SP","08554030","Tubulação, Itaquaquecetuba, cidade Kemel, Boca do sapo, Seringueira, Cidade de Deus e Beverly hills"
95393228,"Abraço Campeão","Rio de Janeiro","RJ","Alan Luiz Duarte ","239966807",13059740771,,,,"AV Itaoca 1174 Bonsucesso Rio de Janeiro "," 21061902","Complexo do Alemão"
39268290,"Modelando Sonhos","Poá","SP","Marilda dos Santos","03350033890","14.710.519-5",,,,"Rua Deputado Nelson Fernandes, 575 - Cidade Kemel, Poá SP","08554120","Tubulação e bairro cidade Kemel"
48056370,"Arautos do Gueto","Belo Horizonte","MG","Anderson da Silva","06219875656","mg11 671 624",,,,"rua marechal jofre 177 ap 202 bloco 10, Belo Horizonte MG","30431370","Morro das pedras"
50099670,"Katiana Pena",,,"Katiana Pena Morais ","94089574315",98012046966,,,,"Rua Mirtes Cordeiro, 3147, Granja Lisboa","60540604","Grande Bom Jardim, Granja Lisboa"
97998166,"Motivar","Natal","RN","Aline Daniely Gomes de Melo","00853693498","1,914,429",,,,"Rua Santa Barbara, 25, Vila de Ponta negra-Natal-RN","59090665","Vila de Ponta Negra"
