.chargeList {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  
  .backContainer {
    display: flex;
    padding: 1rem 1rem 0;
  }

  &__button {
    box-sizing: border-box;
    padding: 1.4rem;
    position: fixed;
    width: 100%;
  }
}
