.filterForm-container {
  display: flex;
  flex-direction: column;
}

.filterForm-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.filterForm-subtitle {
  padding-bottom: 20px;
}

.filterForm-content {
  div {
    margin-bottom: 20px;
  }
  select {
    width: 100%;
    margin-bottom: 20px;
  }
}

.filterForm-dates {
  display: flex;
  justify-content: space-between;
}

.filterForm-initialDate {
  max-width: 48%;
}

.filterForm-finalDate {
  max-width: 48%;
}

