.container-donation-prof {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 1.1rem 1rem 0 1rem;
}
.sidebar-donation-prof {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header-donation-prof {
  height: 25%;
  padding: 10px 0 10px 0;
  h2 {
    margin-bottom: 0;
  }
}
.details-donation-prof {
  width: 100%;
  height: 25%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  .details-date {
    width: 100px;
  }
  .details-amount {
    width: 80px;
  }
}
hr {
  border: .5px solid #EFEFEF;
  width: 100%;
}
.main-donation-prof {
  height: 25%;
  display: flex;
  justify-content: space-between;

  span {
    font-family: Rubik;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 -0.4rem 0;
    letter-spacing: 0.2px;
    color: #202228;
  }
}
.footer-donation-prof {
  display: flex;
  bottom: 0;
  padding: 0 32px 20px 0;
  width: -webkit-fill-available;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.main-donation-prof-radio {
  label {
    display: block;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
