.button-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  margin-right: 8px;
/*
  &.fill {
    background: #328B21;
    border-radius: 54px;
    color: #ffffff;
    border: none;
  }
    &:disabled {
      opacity: 0.3;
    }
    &.outline {
      background: #ffffff;
      border: 2px solid #328B21;
      color: #328b21;

    }

    &.medium {
      width: 160px;
    }
    &.small {
      width: 80px;
    }
    &.large {
      width: 100%;
    } */
}
