.container-setup{
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        color: #93278F;
        width: 20px;
        fill:#93278F;
    }
 }

 .container-icon{
    margin-right: 20px;
    margin-bottom: 15px;
 }