.status {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: right;
  letter-spacing: 0.2px;
  &__in-progressive {
    font-weight: normal;
    color: #C7C7C7;
  }
  &__complete {
    font-weight: normal;
    color: #328B21;
  }
}
