.headerHome {
    display: flex;
    background-color: #FFFFFF;
    font-family: Rubik-Regular;
    padding: 1.5rem 0;

    .teste {

    }

}

.contentHome {    
    background-color: #328B21;
    font-family: Rubik-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 1.7rem;
    color: #FFFFFF;
    
    &__button {
        display: flex;
        justify-content: right;
    }
}

.footerHome {
    font-family: Rubik-Light;
    padding: 1.5rem 1.5rem;

    &--subtitle {
        color: #328B21;
        font-size: 22px;
        letter-spacing: 0.2px;
        font-weight: bold;
    }
}