.containerDonation {
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  &__list {
    padding: 1rem 1rem 0 1rem;
    height: calc(100vh - 12.8rem - 2.4rem);
    overflow-y: scroll;
  }
  &__button {
    position: relative;
    top: 0.4rem;
    padding: 0 1.4rem;
    box-sizing: border-box;
    width: 100%;
  }
}
