.containerCharge {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;

  &__list {
     overflow-y: scroll;
     &--admin {
       padding: 1rem 1rem 0 1rem;
       height: calc(100vh - 12.8rem - 2.4rem);
     }
   }

  &__button {
    bottom: 5rem;
    box-sizing: border-box;
    padding: 0 1.4rem;
    position: fixed;
    width: 100%;
  }
}
