.reportItem {
  padding: 0.7rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0.5rem 0.5rem;
  font-size: 14px;

  &__detailsRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      width: 20rem;
    }

    &__icon {
      height: 1rem;
      width: 1rem;
    }
  }

  &__detailsRow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #919090;
    font-size: 14px;
    margin: 0.5rem 0 0;

    &__date {
      font-size: 12px;
    }
  }

  &__detailsRow3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #c7c7c7;
    margin: 0.5rem 0 0;
  }
}
