.button-fill {
  width: 160px;
  height: 52px;

  background: #328B21;
  border-radius: 54px;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 22px;

  &:disabled {
    opacity: 0.3;
  }
}
.button-outline {
  width: 160px;
  height: 52px;

  background: #ffffff;
  border: 2px solid #328B21;
  border-radius: 54px;
  color: #328b21;
  font-weight: 500;
  font-size: 22px;

  &:disabled {
    opacity: 0.3;
  }
}
