.paragraph {
  text-align: left;
  font-family: Rubik;
  a {
    color: #93278f;
  }
  &--medium{
    font-weight: 500;
  }
}

.font-small {
  font-size: 14px;
}

.font-half {
  font-size: 16px;
}

.font-medium {
  font-size: 20px;
}

.font-large {
  font-size: 22px;
}
