.header-button {
  display: flex;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background: none;
    h5 {
      margin: 0;
    }
  }
  button:focus {
    outline: none;
  }
}
