.container-received-prof {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: hidden;
  padding: 1.1rem 1rem 0 1rem;

  .details-received {
    height: auto;
  }
}

.header-received-prof {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  h2, h5 {
    margin-top: 5px;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 10px;
  }
}
.details-received-prof {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .details-date {
    width: 100px;
  }
  .details-amount {
    width: 100px;
  }
}
hr {
  border: .5px solid #EFEFEF;
  width: 100%;
}
.main-received-current-prof {
  overflow-y: scroll;

}
.footer-received-prof {
  display: flex;
  bottom: 0;
  z-index: 100;
  width: -webkit-fill-available;
  justify-content: space-around;
  position: fixed;
  padding: 0 16px 20px 16px;
  align-items: center;
}
