.fixedHeader {
  position: relative;
  top: 0;
}
.containerHeader {
  font-family: Rubik;
  font-weight: 400;
  padding: 1.1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
  }

  span {
    height: 0;
  }

  a {
    position: relative;
    float: right;
    top: -3.1rem;
    text-decoration: underline;
    cursor: pointer;
    
    img {
      position: relative;
      top: 0.4rem;
      margin: 0 0.3rem 0 0;
    }
  }
}
