.container-checklist {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.header-checklist {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 44px 10px 38px;
  h2 {
    margin: 0.83em auto;
  }
}
.main-checklist {
  // overflow: scroll;
  height: 80%;
  padding: 20px 44px 15vh 38px;
}
.footer-checklist {
  height: 8%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: -webkit-fill-available;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px 5px 20px;
}
