.Alert {
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-family: Rubik;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  text-decoration: none;

  &--success {
    background-color: #328B21;
  }
  &--failure {
    background-color: #C5061D;
  }
  &--warning {
  }
}
