@import '../../styles/_commons';

.containerMenu {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $bottomTabHeight;
  align-items: center;
  position: fixed;

  ul {
    margin: 0;
    padding: 0;
    width: auto;
  }

  li {
    background: none;
    border-radius: unset;
    height: auto;
    width: auto;
    display: flex;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      opacity: 0.4;
      p {
        opacity: 0;
      }

      &.donations,
      &.charges,
      &.exports,
      &.profile {
        opacity: 1;
        p {
          opacity: 1;
        }
      }
    }

    &:after {
      margin: 0;
      padding: 0;
      height: auto;
      position: relative;
      z-index: 1;
      background: none;
    }

    img {
      width: auto;
      height: 1.9rem;
    }

    p {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #93278f;
      margin: 2px;
    }
  }
}
